<header>
  <nav>
    <div class="flex-container">
      <img src="/static/logo.svg" height="1rem" width="1rem" class="icon">
      <a href="/" class="home">{{ meta.title }}</a>
    </div>
    <div>
      <a href="/about/">About</a>
      <a href="https://github.com/ItaiAxelrad/ro11ty">Source</a>
    </div>
  </nav>
</header>